@use 'variables';

.stat-block {
  display: flex;
  font-family: variables.$title-font;
  .stat-item {
    flex: 1;
    text-align: center;
    min-width: 2.5em;
  }
}

.tag {
  display: inline-block;
  padding: 3px;
  border: 1px solid variables.$attn-primary;
  border-radius: 5px;
}
